.nav-transition {
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.faq_card_transition {
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
